@media(max-width: 1100px){
    /* HEADER */
    .logo{
        font-size: 3rem;
    }

    /* CONTAINER */
    .container .accordion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    
        width: 60rem;
        height: 124rem;
    }

    .container .accordion img{
        position: absolute;
        top: 0;
        height: 34rem;
        width: 60rem;
    }

    /* CHORDS */
    .chords{
        height: 90%;
        padding-top: 38rem;
    }

    .chords .title{
        font-size: 3.2rem;
        margin-bottom: 2.6rem;
    }

    /* TABLES */
    .chords .options .option table thead tr th, .chords .options .option table tfoot tr th{
        font-size: 1.8rem;
    }
    
    .chords .options .option table tbody tr td, .chords .options .option table tfoot tr td{
        font-size: 1.6rem;
    }

    .chords .options .option table thead tr th, 
    .chords .options .option table tbody tr td, 
    .chords .options .option table tfoot tr th,
    .chords .options .option table tfoot tr td{
        padding: 0.4rem 0.5rem;
    }

    /* Para o acordeon */
    .option-title{
        font-size: 2rem;
    }

    .option-sub-title{
        font-size: 1.9rem;
        margin: 0 0 1rem 3rem;
    }

    /* Estilo dos item quando ativos */
    .options .option.active .option-title{
        font-size: 2.6rem;
    } 

    .options .option.active .table{
        margin: 0.2rem 0 2rem 3rem;
    }

    .options .option.active .ladies-and-gentlemen.show .guests-table{
        margin: 0.2rem 0 2rem 4.8rem;
    }

    /* FOOTER */
    footer .footer-title{
        font-size: 3rem;
    }
    
    footer .nets{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 2rem 0;
    }

    footer .nets li{
        padding: 1rem 1.2rem;
    }

    footer .nets li a{
        font-size: 2.4rem;
    }
}

/* ESSE ESTÁ IMBUTIDO NO DE CIMA */
/* @media(max-width: 769px){} */

@media(max-width: 601px){
    /* HEADER */
    .logo{
        font-size: 2.8rem;
    }

    /* CONTAINER */
    .container .accordion{
        width: 60rem;
        height: 108rem;
    }

    .container .accordion img{
        height: 28rem;
        width: 50rem;
    }

    /* CHORDS */
    .chords{
        padding-top: 33rem;
    }

    .chords .title{
        font-size: 2.8rem;
    }

    /* TABLES */
    .chords .options .option table thead tr th, .chords .options .option table tfoot tr th{
        font-size: 1.6rem;
    }
    
    .chords .options .option table tbody tr td, .chords .options .option table tfoot tr td{
        font-size: 1.4rem;
    }

    .chords .options .option table thead tr th, 
    .chords .options .option table tbody tr td, 
    .chords .options .option table tfoot tr th,
    .chords .options .option table tfoot tr td{
        padding: 0.4rem 0.5rem;
    }

    /* Para o acordeon */
    .option-title{
        font-size: 1.8rem;
    }

    .option-sub-title{
        font-size: 1.7rem;
        margin: 0 0 1rem 3rem;
    }

    /* Estilo dos item quando ativos */
    .options .option.active .option-title{
        font-size: 2.3rem;
    } 

    .options .option.active .table{
        margin: 0.2rem 0 2rem 3rem;
    }

    .options .option.active .ladies-and-gentlemen.show .guests-table{
        margin: 0.2rem 0 2rem 4.7rem;
    }

    /* FOOTER */
    footer .footer-title{
        font-size: 2.8rem;
    }
    
    footer .nets li a{
        font-size: 2rem;
    }
}

@media(max-width: 502px){
    /* HEADER */
    .logo{
        font-size: 2.6rem;
    }

    /* CONTAINER */
    .container .accordion{
        width: 60rem;
        height: 108rem;
    }

    .container .accordion img{
        height: 24rem;
        width: 40rem;
    }

    /* CHORDS */
    .chords{
        padding-top: 26rem;
    }

    .chords .title{
        font-size: 2.6rem;
    }

    /* TABLES */
    .chords .options .option table thead tr th, .chords .options .option table tfoot tr th{
        font-size: 1.5rem;
    }
    
    .chords .options .option table tbody tr td, .chords .options .option table tfoot tr td{
        font-size: 1.3rem;
    }

    /* Para o acordeon */
    .option-title{
        font-size: 1.7rem;
    }

    .option-sub-title{
        font-size: 1.6rem;
        margin: 0 0 1rem 2rem;
    }

    /* Estilo dos item quando ativos */
    .options .option.active .option-title{
        font-size: 2.2rem;
    } 

    .options .option.active .table{
        margin: 0.2rem 0 2rem 2rem;
    }

    .options .option.active .ladies-and-gentlemen.show .guests-table{
        margin: 0.2rem 0 2rem 4rem;
    }

    /* FOOTER */
    footer .footer-title{
        font-size: 2.6rem;
    }
    
    footer .nets li a{
        font-size: 1.8rem;
    }
}

@media(max-width: 426px){
    /* HEADER */
    .logo{
        font-size: 2.4rem;
    }

    /* CONTAINER */
    .container .accordion{    
        width: 60rem;
        height: 104rem;
    }

    .container .accordion img{
        height: 20rem;
        width: 35rem;
    }

    /* CHORDS */
    .chords{
        padding-top: 23rem;
    }

    .chords .title{
        font-size: 2.4rem;
    }

    /* TABLES */
    .chords .options .option table thead tr th, .chords .options .option table tfoot tr th{
        font-size: 1.22rem;
    }
    
    .chords .options .option table tbody tr td, .chords .options .option table tfoot tr td{
        font-size: 1.08rem;
    }

    .chords .options .option table thead tr th, 
    .chords .options .option table tbody tr td, 
    .chords .options .option table tfoot tr th,
    .chords .options .option table tfoot tr td{
        padding: 0.4rem;
    }

    /* Para o acordeon */
    .option-title{
        font-size: 1.6rem;
    }

    .option-sub-title{
        font-size: 1.5rem;
        margin: 0 0 1rem 1.6rem;
    }

    /* Estilo dos item quando ativos */
    .options .option.active .option-title{
        font-size: 2rem;
    } 

    .options .option.active .table{
        margin: 0.2rem 0 2rem 1.8rem;
    }

    .options .option.active .ladies-and-gentlemen.show .guests-table{
        margin: 0.2rem 0 2rem 2.4rem;
    }

    /* FOOTER */
    footer .footer-title{
        font-size: 2.4rem;
    }
    
    footer .nets li{
        padding: 1rem;
    }
}

@media(max-width: 376px){
    /* CONTAINER */
    .container .accordion{    
        width: 60rem;
        height: 98rem;
    }

    .container .accordion img{
        height: 18rem;
        width: 30rem;
    }

    /* CHORDS */
    .chords{
        padding-top: 24rem;
    }

    /* TABLES */
    .chords .options .option table thead tr th, .chords .options .option table tfoot tr th{
        font-size: 1rem;
    }
    
    .chords .options .option table tbody tr td, .chords .options .option table tfoot tr td{
        font-size: 1rem;
    }

    /* Estilo dos item quando ativos */
    .options .option.active .table{
        margin: 0.2rem 0 2rem 1.4rem;
    }

    .options .option.active .ladies-and-gentlemen.show .guests-table{
        margin: 0.2rem 0 2rem 2.4rem;
    }
}

@media(max-width: 365px){
    /* CONTAINER */
    .container .accordion{    
        width: 60rem;
        height: 99rem;
    }

    /* CHORDS */
    .chords{
        padding-top: 22rem;
    }

    /* TABLES */
    .chords .options .option table thead tr th, .chords .options .option table tfoot tr th{
        font-size: 1rem;
    }
    
    .chords .options .option table tbody tr td, .chords .options .option table tfoot tr td{
        font-size: 0.9rem;
    }

    /* Estilo dos item quando ativos */
    .options .option.active .table{
        margin: 0.2rem 0 2rem 1.3rem;
    }

    .options .option.active .ladies-and-gentlemen.show .guests-table{
        margin: 0.2rem 0 2rem 2.4rem;
    }
}

@media(max-width: 321px){
    /* CONTAINER */
    .container .accordion{    
        width: 60rem;
        height: 90rem;
    }

    /* TABLES */
    .chords .options .option table thead tr th, .chords .options .option table tfoot tr th{
        font-size: 1rem;
    }
    
    .chords .options .option table tbody tr td, .chords .options .option table tfoot tr td{
        font-size: 0.8rem;
    }
}