html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
}

/* HEADER */
header{
    padding: 2rem 0;
    background: linear-gradient(var(--dark-grey), var(--dark-grey), var(--dark-grey), var(--dark-red));
}

.logo{
    text-align: center;
    width: 100%;
    font-size: 2.4rem;
    color: #E5EAEC;
}

/* Main */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--dark-red), var(--light-red), var(--dark-red));
}

.container .accordion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;

    width: 100rem;
    height: 80rem;
    /* height: 100%; */
    padding: 2rem 0 2rem 0;
    margin: 2rem 0;
    gap: 10rem;
    /* border: solid 0.2rem black; */
}

.container .accordion img{
    height: 25rem;
    width: 45rem;
    border-radius: 5%;
}

/* CHORDS */
.chords{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.chords .title{
    font-size: 2.8rem;
    color: var(--title-color);
    margin-bottom: 2.6rem;
}

.chords .options .option{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    transition: 0.2s ease;
}

.chords .options .option:last-child{
    margin-bottom: 0;
}

/* TABLES */
.chords .options .option table{
    border-collapse: collapse;
}

.chords .options .option table thead tr th{
    font-size: 1.6rem;
    color: var(--th-color);
}

.chords .options .option table tfoot tr th{
    font-size: 1.6rem;
    color: var(--th-color);
}

.chords .options .option table tbody tr td{
    font-size: 1.4rem;
    color: var(--td-color);
}

.chords .options .option table tfoot tr td{
    font-size: 1.4rem;
    color: var(--td-color);
}

.chords .options .option table thead tr th, 
.chords .options .option table tbody tr td, 
.chords .options .option table tfoot tr th,
.chords .options .option table tfoot tr td{
    text-align: center;
    padding: 0.6rem;
    border: solid 0.1rem rgba(255, 255, 255, 0.315);
}

/* Para o acordeon */
.option-title{
    cursor: pointer;
    transition: 0.2s ease;

    font-size: 1.8rem;
    padding-bottom: 1rem;
    color: var(--title-color);
}

.option-title:hover{
    color: black;
}

.option-sub-title{
    cursor: pointer;
    transition: 0.2s ease;
    
    font-size: 2rem;
    color: var(--title-color);
    margin: 0 0 1rem 2rem;
}

.option-sub-title:hover{
    color: rgb(29, 28, 28);
}

.table, .option-sub-title, .guests-table{
    display: none;
}

/* Estilo dos item quando ativos */
.options .option.active .option-title{
    font-size: 2.2rem;
} 

.options .option.active .table{
    display: block;
    margin: 0.2rem 0 2rem 4.4rem;
}

.options .option.active .option-sub-title{
    display: block;
}

.options .option.active .ladies-and-gentlemen.active .guests-table{
    display: block;
    margin: 0.2rem 0 2rem 4.4rem;
}

/* PRODUCTS */
/* .noodle::before{   
} */

/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 2rem 0;

    background: linear-gradient(var(--dark-red), var(--dark-grey), var(--dark-grey), var(--dark-grey));
}

footer .footer-title{
    font-size: 2.2rem;
    color: #E5EAEC;
}

footer .nets{
    display: flex;
    margin: 2rem 0;
}

footer .nets li{
    padding: 1rem 3rem 1rem 0;
}

footer .nets li a{
    font-size: 1.8rem;
    color: #a19299;
}

footer .nets li a:hover{
    color: #E5EAEC;
}